<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Weather Assignment
  </h1>
</div>
<div id="main-content">
  <h2>Past Data</h2>
  <h3>Select Date</h3>
  <div id="date-picker-container">
    <my-date-picker name="mydate" [options]="myDatePickerOptions"
    (dateChanged)="onDateChanged($event)" required></my-date-picker>
  </div>
  <h3>Select Time</h3>
  <mat-form-field>
    <mat-select placeholder="Select Time" (change)="onTimeChanged()" [(value)]="selectedTime">
      <mat-option *ngFor="let time of times" [value]="time">
        {{ time }}
      </mat-option>
    </mat-select>
  </mat-form-field>


  <h3>Select Locations</h3>
  <div id="checkbox-container">
    <mat-checkbox *ngFor="let location of locations" (click)="onLocationSelected(location)" class="example-margin">{{location}}</mat-checkbox>
  </div>
  <div style="display: block">
      <canvas *ngIf="updatedGraphData" baseChart
              [datasets]="barChartData"
              [labels]="barChartLabels"
              [options]="barChartOptions"
              [legend]="barChartLegend"
              [chartType]="barChartType"
              (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)"></canvas>
    </div>


  <h2>Forecasting</h2>

  <h2>Averages for specific time scale for specific locations</h2>

  <h2>Maximums & Minimums</h2>

</div>
